
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .gridlockup {
      background-image: url(/bg_grid_lock_light.jpg);
      background-size: 122.375rem 100%;
      height: 52.9375rem;
  }
  .dark .gridlockup {
      background-image: url(/bg_grid_lock_dark.png);
      background-size: 109.375rem 100%;
      height: 57.5rem;
  }
  .pt-full {
      padding-top: 100%;
  }
}